*,
*::before,
*::after{
  padding: 0px;
  margin: 0px;
  
}
body{
    background-color: rgb(22, 50, 151);
}
.contenedor{
    position: relative;
    padding:5px;
    margin-top: 150px;
    width: 350px;
    height: 400px;
    left:35%;
    background-color: rgb(16, 1, 102);
}
.forms{
    position: relative;
    margin: 25px;
    width: 300px;
    height: 350px;
    font-style: none;
    background-color: rgb(90, 98, 214);
}
.titulo{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin: 5px;
    left:15%;
}
.pp{
   position: relative;
   padding: 8px;
   left: 20%;
}
.pp label{
    font-size: 25px;
    display: block;
    
}
.iniciar .boton{
    position: relative;
    margin-top: 8px;
    font-size: 20px;
    left: 40%;

}
.contenedor .error{
    background-color:rgb(90, 98, 214) ;
    color: black;
    padding: 5px;
    width: 95%;
    margin: 20px auto; 
}