*,
*::before,
*::after{
  padding: 0px;
  margin: 0px;
  
}
body{
    background-color: rgba(87, 84, 84, 0.429);
}
.header{
  margin: auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  
}
.cuenta{
  margin-left: auto;
  width: -2px;
  text-align: right;
}
ul, ol{
  list-style: none;
}

.nav li a{
  background-color: aquamarine;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.nav li a:hover{
  background-color:aqua ;
}
.textt{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.nav li ul{
  display:none;
  position: absolute;
  min-width: 140px;
}
.nav li:hover > ul {
  display: block;
}
.nav li ul li{
  position: relative;

}
.nav li ul li ul {
  right: -108px;
  top: 10px;
}